# Synergy Logistics
**Análisis realizado por:** González Martínez Salvador Eduardo

In [579]:
#Librerías a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [668]:
#Abrir los datos
df = pd.read_csv('synergy_logistics_database.csv', index_col = 'register_id')

### Rutas de importación / exportación

#### Importación

In [598]:
imports = df[df['direction'] == 'Imports'] #Obtener sólo los datos cuya dirección indica que se trata de una importación
imports.head()

,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
register_id,,,,,,,,,
15409,Imports,Mexico,USA,2015,31/01/15,Cars,Rail,Honda,3000000
15410,Imports,Mexico,USA,2015,01/02/15,Cars,Rail,Honda,13000000
15411,Imports,Mexico,USA,2015,02/02/15,Cars,Rail,Honda,40000000
15412,Imports,Mexico,USA,2015,03/02/15,Cars,Rail,Honda,48000000
15413,Imports,Mexico,USA,2015,04/02/15,Cars,Rail,Honda,44000000

In [599]:
fluxes = imports[['origin', 'destination']] #Se trabajarán sólo con los datos de origen y destino de los flujos de importación
fluxes = fluxes.sort_values(['origin', 'register_id'], ascending= True) #Los datos son ordenados alfabéticamente
fluxes.head()

                origin destination
register_id
18305        Australia       Japan
18306        Australia       Japan
18307        Australia       Japan
18308        Australia       Japan
18309        Australia       Japan

In [600]:
counted_fluxes = [] #Lista que contendrá las rutas de importación únicas (sin repetir)
counted_fluxes.append(fluxes.values.tolist()[0]) #La primera ruta de importación se añade a la lista
counter = 1 #Al añadir una ruta, el contador incrementa de valor
counts = [] #Lista que contiene el número de veces de cada importación (sin repetir) 
for i in fluxes.values.tolist()[1:]: #Se empieza desde el índice 1 ya que se agregó la primera ruta de importación
    if i not in counted_fluxes:
        counts.append(counter)
        counted_fluxes.append(i)
        counter = 1
    else:
        counter += 1
counts.append(counter) #Se anexa a la lista el último conteo

#Se juntan las rutas únicas (sin repetir) junto con el número de veces en que aparecen en el archivo csv
for index, i in enumerate(counted_fluxes):
    i.append(counts[index])

In [601]:
#Rutas de importanción y frecuencia de uso (n)
import_routes = pd.DataFrame(counted_fluxes, columns= ['origin', 'destination', 'n'])
import_routes.head()

      origin destination    n
0  Australia       Japan  102
1     Brazil       China  113
2     Brazil     Germany    6
3     Canada         USA   47
4      China         USA    6

In [602]:
#Las 10 rutas de importanción más utilizadas 
import_routes = import_routes.sort_values('n', ascending = False)
import_routes.head(10)

       origin destination    n
33  Singapore    Thailand  273
8       China       Japan  261
15    Germany       China  249
25   Malaysia    Thailand  195
31     Mexico       China  161
11     France     Germany  146
7       China    Thailand  141
39      Spain      Mexico  123
23      Japan      Canada  120
19      Japan      Mexico  115

#### Exportación

In [603]:
exports = df[df['direction'] == 'Exports'] #Obtener sólo los datos cuya dirección indica que se trata de una exportación
exports.head()

,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
register_id,,,,,,,,,
1,Exports,Japan,China,2015,31/01/15,Cars,Sea,Honda,33000000
2,Exports,Japan,China,2015,01/02/15,Cars,Sea,Honda,16000000
3,Exports,Japan,China,2015,02/02/15,Cars,Sea,Honda,29000000
4,Exports,Japan,China,2015,03/02/15,Cars,Sea,Honda,14000000
5,Exports,Japan,China,2015,04/02/15,Cars,Sea,Honda,17000000

In [604]:
fluxes = exports[['origin', 'destination']] #Se trabajarán sólo con los datos de origen y destino de los flujos de exportación
fluxes = fluxes.sort_values(['origin', 'register_id'], ascending= True) #Los datos son ordenados alfabéticamente
fluxes.head()

                origin destination
register_id
9214         Australia   Singapore
9215         Australia   Singapore
9216         Australia   Singapore
9217         Australia   Singapore
9218         Australia   Singapore

In [605]:
counted_fluxes = [] #Lista que contendrá las rutas de exportación únicas (sin repetir)
counted_fluxes.append(fluxes.values.tolist()[0]) #La primera ruta de exportación se añade a la lista
counter = 1 #Al añadir una ruta, el contador incrementa de valor
counts = [] #Lista que contiene el número de veces de cada exportación (sin repetir) 
for i in fluxes.values.tolist()[1:]: #Se empieza desde el índice 1 ya que se agregó la primera ruta de exportación
    if i not in counted_fluxes:
        counts.append(counter)
        counted_fluxes.append(i)
        counter = 1
    else:
        counter += 1
counts.append(counter) #Se anexa a la lista el último conteo

#Se juntan las rutas únicas (sin repetir) junto con el número de veces en que aparecen en el archivo csv
for index, i in enumerate(counted_fluxes):
    i.append(counts[index])

In [606]:
#Rutas de exportación y frecuencia de uso (n)
export_routes = pd.DataFrame(counted_fluxes, columns= ['origin', 'destination', 'n'])
export_routes.head()

      origin     destination    n
0  Australia       Singapore   92
1  Australia  United Kingdom   81
2  Australia        Thailand  100
3  Australia          Brazil  202
4  Australia          Mexico  242

In [607]:
#Las 10 rutas de exportación más utilizadas 
export_routes = export_routes.sort_values('n', ascending = False)
export_routes.head(10)

             origin  destination    n
96      Netherlands      Belgium  520
56          Germany  South Korea  513
116     South Korea      Vietnam  493
136             USA  Netherlands  436
143  United Kingdom          USA  409
31            China       Mexico  374
115     South Korea        Japan  352
42           France      Belgium  346
80            Japan       Mexico  341
35            China      Belgium  299

#### Importación / Exportación

In [611]:
#Las 10 rutas con mayor flujo (considerando importaciones y exportaciones)
routes = pd.concat([import_routes, export_routes]).sort_values('n', ascending = False)
routes.head(10)

             origin  destination    n
96      Netherlands      Belgium  520
56          Germany  South Korea  513
116     South Korea      Vietnam  493
136             USA  Netherlands  436
143  United Kingdom          USA  409
31            China       Mexico  374
115     South Korea        Japan  352
42           France      Belgium  346
80            Japan       Mexico  341
35            China      Belgium  299

### Medio de transporte utilizado

In [472]:
#Modos de transporte de Synergy Logistics
transport = df['transport_mode'].unique().tolist()
print('Los medios de transporte son {}, {}, {} y {}'.format(transport[0], transport[1],
                                                            transport[2], transport[3]))

Los medios de transporte son Sea, Air, Rail y Road

In [473]:
df_sorted = df.sort_values(['transport_mode', 'register_id']) #Se ordena alfabéticamente los modos de transporte y después su ID
df_sorted.head(5)

,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
register_id,,,,,,,,,
9,Exports,Japan,USA,2015,08/02/15,Machinery and electronics,Air,ReachExt J.J,15000000
10,Exports,Japan,USA,2015,09/02/15,Machinery and electronics,Air,ReachExt J.J,31000000
11,Exports,Japan,USA,2015,10/02/15,Machinery and electronics,Air,ReachExt J.J,12000000
12,Exports,Japan,USA,2015,11/02/15,Machinery and electronics,Air,ReachExt J.J,10000000
13,Exports,Japan,USA,2015,12/02/15,Machinery and electronics,Air,ReachExt J.J,28000000

#### Air

In [481]:
#Valor generado por los medios de transporte tipo Air
air = df_sorted[df_sorted['transport_mode'] == 'Air']
air_profit = air['total_value'].sum()
print('El valor total generado por el modo de transporte "Air" fue de {}'.format(air_profit))

El valor total generado por el modo de transporte "Air" fue de 38262147000

#### Rail

In [483]:
#Valor generado por los medios de transporte tipo Rail
rail = df_sorted[df_sorted['transport_mode'] == 'Rail']
rail_profit = rail['total_value'].sum()
print('El valor total generado por el modo de transporte "Rail" fue de {}'.format(rail_profit))

El valor total generado por el modo de transporte "Rail" fue de 43628043000

#### Road

In [485]:
#Valor generado por los medios de transporte tipo Road
road = df_sorted[df_sorted['transport_mode'] == 'Road']
road_profit = road['total_value'].sum()
print('El valor total generado por el modo de transporte "Road" fue de {}'.format(road_profit))

El valor total generado por el modo de transporte "Road" fue de 33270486000

#### Sea

In [487]:
#Valor generado por los medios de transporte tipo Sea
sea = df_sorted[df_sorted['transport_mode'] == 'Sea']
sea_profit = sea['total_value'].sum()
print('El valor total generado por el modo de transporte "Sea" fue de {}'.format(sea_profit))

El valor total generado por el modo de transporte "Sea" fue de 100530622000

#### Air, Rail, Road, Sea

In [494]:
#Top 3 mejores medios de transporte 
transport_modes=pd.DataFrame([['Air',air_profit], ['Rail',rail_profit], ['Road',road_profit], ['Sea',sea_profit]], columns=['Mode','Total'])
#Ordenar de mayor a menor
transport_modes.sort_values('Total', ascending = False)

   Mode         Total
3   Sea  100530622000
1  Rail   43628043000
0   Air   38262147000
2  Road   33270486000

In [662]:
#Porcentajes de contribución de ganancias de todos los medios de transporte 
total_transport_modes = transport_modes['Total'].sum()
sea_percentage = (transport_modes[transport_modes['Mode'] == 'Sea']['Total'] / total_transport_modes).to_numpy()
rail_percentage = (transport_modes[transport_modes['Mode'] == 'Rail']['Total'] / total_transport_modes).to_numpy()
air_percentage = (transport_modes[transport_modes['Mode'] == 'Air']['Total'] / total_transport_modes).to_numpy()
road_percentage = (transport_modes[transport_modes['Mode'] == 'Road']['Total'] / total_transport_modes).to_numpy()

In [665]:
print('Sea: {}\nRail: {}\nAir: {}\nRoad: {}'.format(sea_percentage[0], rail_percentage[0], air_percentage[0], road_percentage[0]))

Sea: 0.46608566470771573
Rail: 0.20227076105777805
Air: 0.1773930953857953
Road: 0.1542504788487109

### Valor total de importaciones y exportaciones

In [511]:
#Países que participan en las importaciones y exportaciones
countries = np.unique(df[['origin', 'destination']])
countries

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Belorussia',
       'Brazil', 'Canada', 'China', 'Croatia', 'France', 'Germany',
       'India', 'Ireland', 'Italy', 'Japan', 'Malaysia', 'Mexico',
       'Netherlands', 'New Zealand', 'Peru', 'Philippines', 'Poland',
       'Rusia', 'Russia', 'Singapore', 'Slovakia', 'South Korea', 'Spain',
       'Switzerland', 'Thailand', 'Turkey', 'USA', 'United Arab Emirates',
       'United Kingdom', 'Vietnam'], dtype=object)

In [548]:
#Obtener valores totales de importación y exportación por país
countries_values = []
for country in countries:
    country_info = []
    country_info.append(country)
    country_info.append(df[np.logical_or(df['origin'] == country, df['destination'] == country)]['total_value'].sum())
    countries_values.append(country_info)

In [689]:
#Construcción de dataframe con los países con mayor aporte encabezando la tabla
totalPerCountry = pd.DataFrame(countries_values, columns = ['País', 'Total']).sort_values('Total', ascending = False)
totalPerCountry.head(5)

       País        Total
7     China  59042038000
16   Mexico  43249770000
31      USA  40563715000
14    Japan  34648128000
10  Germany  32005684000

In [565]:
#Total generado por todos los países en importación y exportación
total = totalPerCountry['Total'].sum()
total

431382596000

In [666]:
#Lista - Países que generan el 80% del valor
countries_80 = []
percentage = 0
cumsum = 0
index = 0
while percentage <= .8: 
    cumsum += totalPerCountry.iloc[index]['Total']
    percentage = cumsum / total
    countries_80.append(totalPerCountry.iloc[index]['País'])
    index += 1
    print(percentage)
    
print('Los países que generan el 80% del total son:\n{}'.format(countries_80))

0.13686699126823373
0.23712548662950694
0.3311573631496251
0.4114761528302361
0.48566941954236836
0.5455508664053753
0.6053142440637544
0.6422077561052092
0.67857310822062
0.7133908758803983
0.7460347519444201
0.7755770031111779
0.8042132789242151
Los países que generan el 80% del total son:
['China', 'Mexico', 'USA', 'Japan', 'Germany', 'South Korea', 'France', 'Russia', 'Belgium', 'Canada', 'Thailand', 'Italy', 'Spain']